blas
brotlipy
bzip2
ca-certificates
certifi
cffi
charset-normalizer
cryptography
cuda
cuda-cccl
cuda-command-line-tools
cuda-compiler
cuda-cudart
cuda-cudart-dev
cuda-cuobjdump
cuda-cupti
cuda-cuxxfilt
cuda-demo-suite
cuda-documentation
cuda-driver-dev
cuda-gdb
cuda-libraries
cuda-libraries-dev
cuda-memcheck
cuda-nsight
cuda-nsight-compute
cuda-nvcc
cuda-nvdisasm
cuda-nvml-dev
cuda-nvprof
cuda-nvprune
cuda-nvrtc
cuda-nvrtc-dev
cuda-nvtx
cuda-nvvp
cuda-runtime
cuda-sanitizer-api
cuda-toolkit
cuda-tools
cuda-visual-tools
cudatoolkit
dill
ffmpeg
flit-core
freetype
gds-tools
giflib
gmp
gnutls
idna
intel-openmp
jinja2
jpeg
lame
lcms2
ld_impl_linux-64
lerc
libcublas
libcublas-dev
libcufft
libcufft-dev
libcufile
libcufile-dev
libcurand
libcurand-dev
libcusolver
libcusolver-dev
libcusparse
libcusparse-dev
libdeflate
libffi
libgcc-ng
libgomp
libiconv
libidn2
libnpp
libnpp-dev
libnvjpeg
libnvjpeg-dev
libpng
libstdcxx-ng
libtasn1
libtiff
libunistring
libwebp
libwebp-base
lz4-c
mkl
mkl-service
mkl_fft
mkl_random
ncurses
nettle
ninja
ninja-base
nsight-compute
numpy
numpy-base
openh264
openssl
pillow
pip
pycparser
pyopenssl
pysocks
python
pytorch
pytorch-cuda
pytorch-mutex
readline
requests
setuptools
six
sqlite
tk
torchaudio
torchvision
typing_extensions
urllib3
xz
zlib
zstd